.mcq-option {
  padding: 10px 20px;
  border-radius: 10px;
}

.mcq-option.blue,
.mcq-option.selected {
  background: #3a7fef;
  border-bottom: 10px solid #0360b9;
}

.mcq-option.red {
  background: #ef3a3a;
  border-bottom: 10px solid #9a0c0c;
}

.mcq-option.green {
  background: #3aef52;
  border-bottom: 10px solid #048b16;
}

.mcq-option.blue.selected {
  opacity: 0.4;
}

.mcq-message {
  width: max-content;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateY(-30px) translateX(-50%);
}

/* grid */

.sudoku {
  min-width: 5rem;
  min-height: 5rem;
  @apply text-3xl;
  @apply font-semibold;
  @apply text-gray-600;
  @apply border;
  @apply border-yellow-600;
  @apply text-center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none !important;
}

.sudoku input {
  border: 0 !important;
  text-align: center;
}

.sudoku.input {
  @apply text-yellow-600;
}

.sudoku::-webkit-outer-spin-button,
.sudoku::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sudoku[type="number"] {
  -moz-appearance: textfield;
}
.sudoku[disabled] {
  @apply text-yellow-600;
  @apply bg-white;
}

.droppable {
  padding: 10px;
  border-radius: 20px;
}
.drag-box {
  padding: 30px;
  /*background: #ddd;*/
  cursor: move;
  z-index: 10000;
  margin-right: 5px;
  user-select: none;
  font-size: 20px;
  font-weight: bold;
}

/*.droppable .drag-box {*/
/*  padding: 0 !important;*/
/*  margin: 0 !important;*/
/*  */
/*}*/

.hover-active:hover {
  @apply bg-yellow-200;
}

.fill-cube {
  @apply h-14;
  @apply w-14;
  border: 3px solid #f59e0b;
  @apply mx-1;
  @apply my-2;
  border-radius: 4px;
}
.fill-cube.selected {
  background-color: #f59e0b;
}

.slider-point {
  top: 0;
  height: 10px;
  width: 10px;
  border-radius: 20px;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
}

.plotter {
  @apply bg-green-500;
  cursor: grab;
  transform: unset;
  top: -7.5px;
}

.box-11 {
  @apply border;
  @apply px-10;
  @apply py-5;
  @apply border-yellow-500;
  @apply rounded-xl;
  @apply flex;
  @apply items-center;
  @apply justify-center;
  @apply m-5;
  position: relative;
}

.circle-11 {
  @apply h-8;
  @apply w-8;
  @apply border;
  @apply border-yellow-500;
  @apply rounded-full;
  @apply absolute;
  @apply -bottom-4;
  @apply left-1/2;
  @apply transform;
  @apply -translate-x-1/2;
  @apply bg-white;
}

.bg-light-orange {
  background-color: #f59e0b40;
}
.bg-light-red {
  background-color: #ef3a3a40;
}
.border-red {
  border: 1px solid #ef3a3a !important;
}

.question-input {
  padding: 1.2rem 1.5rem;
  margin-bottom: 0.75rem;
  border: 2px solid #e4e4e4;
  border-radius: 5px;
  box-shadow: inset 0 0 8px #d8d8d8;
  outline: none !important;
}
